/********************************
* COLORS
********************************/
:root {
	--vp-c-brand-1: var(--vp-c-gray-1);
	--vp-c-brand-2: var(--vp-c-gray-2);
	--vp-c-brand-3: var(--vp-c-gray-3);
}

/* CODE */
body:has(.menu a.active[href*="code"]),
nav.menu a[href*="code"]:hover {
	--vp-c-brand-1: var(--vp-c-green-1);
	--vp-c-brand-2: var(--vp-c-green-2);
	--vp-c-brand-3: var(--vp-c-green-3);
}

/* ENGINEERING */
body:has(.menu a.active[href*="engineering"]),
nav.menu a[href*="engineering"]:hover {
	--vp-c-brand-1: var(--vp-c-indigo-1);
	--vp-c-brand-2: var(--vp-c-indigo-2);
	--vp-c-brand-3: var(--vp-c-indigo-3);
}

/* MANAGEMENT */
body:has(.menu a.active[href*="management"]),
nav.menu a[href*="management"]:hover {
	--vp-c-brand-1: var(--vp-c-red-1);
	--vp-c-brand-2: var(--vp-c-red-2);
	--vp-c-brand-3: var(--vp-c-red-3);
}

/* UX */
body:has(.menu a.active[href*="ux"]),
nav.menu a[href*="ux"]:hover {
	--vp-c-brand-1: var(--vp-c-yellow-1);
	--vp-c-brand-2: var(--vp-c-yellow-2);
	--vp-c-brand-3: var(--vp-c-yellow-3);
}