.docs-doc-id-index main {
	--ifm-container-width: 680px;
	--ifm-container-width-xl: 680px;
}

.container.padding-top--md {
	padding-top: 2.5rem !important;
}

.theme-doc-footer,
.pagination-nav {
	display: none;
}