.navbar__brand:hover {
	color: var(--ifm-color-homepage);
}

.navbar__item[href*="code"]:hover {
	color: var(--ifm-color-code);
}

.navbar__item[href*="engineering"]:hover {
	color: var(--ifm-color-engineering);
}

.navbar__item[href*="management"]:hover {
	color: var(--ifm-color-management);
}

.navbar__item[href*="ux"]:hover {
	color: var(--ifm-color-ux);
}